---
layout: table
title: "Word List"
permalink: /wordlist/index.html
description: "Word List for your words"
---

<div id="words">
  <table>
    <thead>
      <tr>
        <th>lesson</th>
        <th>kana</th>
        <th>type</th>
        <th>description</th>
        <th>kana</th>
        <th>kanji</th>
      </tr>
    </thead>
    <tbody>
    {% for word in site.data.words  %}
      <tr>
        <td class="lesson">{{ word.lesson }}</td>
        {% if word.kanji != null %}
        <td class="word"><ruby>{{ word.kanji }}<rt>{{ word.kana }}</rt></ruby></td>
        {% else %}
        <td class="word">{{ word.kana }}</td>
        {% endif %}
        <td class="type">{{ word.type }}</td>
        <td class="description">{{ word.description }}</td>
        <td class="kana">{{ word.kana }}</td>
        <td class="kanji">{{ word.kanji }}</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>lesson</td>
        <td>kana</td>
        <td>type</td>
        <td>description</td>
        <td>kana</td>
        <td>kanji</td>
      </tr>
    </tfoot>
  </table>

</div>
