<section class="author" itemprop="author">
    <div class="media well" itemscope itemtype="http://schema.org/Person">
        <div class="media-left">
            <img itemprop="image" class="img-rounded" src="{{ site.baseurl }}/assets/img/blog-author.jpg" alt="{{site.name}}">
        </div>
        <div class="media-body">
            <h3 class="name">
                <a itemprop="name" href="https://plus.google.com/+{{site.gplus_username}}/posts">{{site.username}}</a>
            </h3>
            <p class="desc">{{site.user_description}}</p>
            <p><a itemprop="email" class="email" href="mailto:{{site.email}}"><i class="fa fa-envelope"></i>{{site.email}}</a></p>
            <p><a itemprop="github" class="github" href="https://github.com/{{site.github_username}}"><i class="fa fa-github"></i>github.com/{{site.github_username}}</a></p>
        </div>
    </div>
</section>
