<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    {% if site.gplus_username %}
    <!-- Google Authorship Markup -->
    <link rel="author" href="https://plus.google.com/+{{site.gplus_username}}?rel=author">
    {% endif %}

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{site.twitter_username}}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}
    <meta property="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}{{page.image }}">
    {% else %}
    <meta property="twitter:image:src" content="{{ "/assets/img/blog-image.png" | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{page.image }}">
    {% else %}
    <meta property="og:image" content="{{ "/assets/img/blog-image.png" | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">

    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta itemprop="image" content="{{ "/assets/img/blog-image.png" | prepend: site.baseurl | prepend: site.url }}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ basepath }}/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ basepath }}/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ basepath }}/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ basepath }}/assets/icons/manifest.json">
    <link rel="mask-icon" href="{{ basepath }}/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ basepath }}/assets/icons/favicon.ico">
    <meta name="msapplication-config" content="{{ basepath }}/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: basepath }}">
    <link rel="stylesheet" href="{{ basepath }}/assets/3rd/bootstrap/css/bootstrap.min.css" title="theme">
    <link rel="stylesheet" href="{{ basepath }}/assets/3rd/dataTables/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="{{ basepath }}/assets/3rd/dataTables/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="{{ basepath }}/assets/3rd/dataTables/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="{{ basepath }}/assets/3rd/font-awesome/css/font-awesome.min.css">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <script src="{{ basepath }}/assets/3rd/jquery/jquery-1.12.4.min.js"></script>
    <script src="{{ basepath }}/assets/3rd/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ basepath }}/assets/3rd/dataTables/jquery.dataTables.min.js"></script>
    <script src="{{ basepath }}/assets/3rd/dataTables/dataTables.bootstrap.min.js"></script>
    <script src="{{ basepath }}/assets/3rd/dataTables/dataTables.buttons.min.js"></script>
    <script src="{{ basepath }}/assets/3rd/dataTables/buttons.bootstrap.min.js"></script>
    <script src="{{ basepath }}/assets/3rd/dataTables/buttons.colVis.min.js"></script>
    <script src="{{ basepath }}/assets/3rd/dataTables/dataTables.responsive.min.js"></script>
    <script src="{{ basepath }}/assets/3rd/dataTables/responsive.bootstrap.min.js"></script>
    <script src="{{ "/assets/js/main.js" | prepend: basepath }}"></script>
    <script>
      var basethemeurl = "{{ basepath }}/assets/3rd/bootstrap/css/";
    </script>
</head>
