{% assign lesson = include.lesson %}
<div id="l{{include.num}}" class="lesson" markdown="1">
<div class="japan" markdown="1">
{% if lesson.title %}
# {{lesson.title}}
{% else %}
{% assign title = lesson.basic4 | newline_to_br | strip_newlines | split: '<br />' | first | remove: "> * " | prepend: "課 " | prepend: include.num | prepend: "第" %}
# {{title}}
{% endif %}
## 基本課文
{{lesson.basic4}}

{{lesson.basicc}}

## {{lesson.contitle}}

{{lesson.context}}
 
</div>
## 基本课文译文
{{lesson.basic4t}}

{{lesson.basicct}}


## 应用课文译文 {{lesson.contitlet}}

{{lesson.contextt}}
 
## 语法点
{% assign findingNum = include.num | prepend: " " | append: " " %}
{% assign gs = site.data.grammar | where_exp: "item", "item.lesson contains findingNum" %}
| 句型、表达             | 解释                    |
| ----                   | ----                    | {% for grammar in gs %}
| {{grammar.expression}} | {{grammar.explanation}} | {% endfor %}

## 生词表

<audio id="wordplayer" controls style="margin-left: auto; margin-right: auto; display: block;">
  <source src="{{ site.baseurl }}/assets/audio/word/l{{include.num}}.mp3" type="audio/mpeg"/>
</audio>

{% assign ws = site.data.words | where_exp: "item", "item.lesson contains findingNum" %}
| 假名          | 单词          | 词性         | 解释          |
| ----          | ----          | ----         | ----          | {% for word in ws %}
| {{word.kana}} | {{word.word}} | {{word.pos}} | {{word.desc}} | {% endfor %}

</div>
