<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand"><a href="{{basepath}}/index.html">{{ site.sidebartitle }}</a></li>
        {% for link in site.links %}
            <li><a href="{{basepath}}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <li><a class="feed" href="{{basepath}}/feed.xml" title="Atom/RSS feed">订阅RSS</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">主题风格<span class="caret"></span></a>
            <ul class="dropdown-menu" id="theme-dropdown" role="menu">
                <li><a href="#" data-theme="bootstrap" class="theme-link">明亮通透</a></li>
                <li><a href="#" data-theme="paper" class="theme-link">轻快剪纸</a></li>
                <li><a href="#" data-theme="slate" class="theme-link">蓝黑风格</a></li>
                <li><a href="#" data-theme="darkly" class="theme-link">纯黑风格</a></li>
            </ul>
        </li>
    </ul>
</nav>
