<style>
.tags {
  position: fixed;
  top: 0px;
}
.tags a {
  background: white;
}
.tags a.toggle-lesson.active {
  background: wheat;
}
.lesson {
  display: none;
}
.lesson.active {
  display: inherit;
}
.japan.collapse {
  display: none;
}
.japan.hideruby ruby rt {
  color: white;
}
.japan.hideruby ruby rt:hover {
  color: inherit;
}
.lesson table {
  margin: 50px auto;
}
.lesson table th,
.lesson table td {
  border: 2px solid #ccc;
  padding: 5px;
}
</style>
<div class="tags">
  {% if page.lesson %}
  <a class="link" href="lesson{{page.lesson | minus: 1}}.html">前</a>
  <a class="link" href="lesson{{page.lesson | plus: 1}}.html">后</a>
  {% endif %}
  {% for num in page.lessons %}
    <a class="toggle-lesson tl{{num}}" data-lesson="{{num}}" href="#">{{num}}</a>
  {% endfor %}
  <a class="toggle-ruby" href="#">注音</a>
  <a class="toggle-japan" href="#">原文</a>
  <audio id="player" controls>
  </audio>
</div>
<script>
$(document).ready(function() {
  function openTab(tabName) {
    $('.lesson').removeClass('active');
    $('.toggle-lesson').removeClass('active');
    $('.t'+tabName).addClass("active");
    $('#'+tabName).addClass("active");
    if (tabName != 'l0') {
      var player = $('#player').get(0);
      player.src = "{{ site.baseurl }}/assets/audio/lesson/" + tabName + ".mp3";
      player.load();
    }
  }
  $('a.toggle-lesson').on('click', function(e) {
    e.preventDefault();
    openTab("l"+$(this).attr('data-lesson'));
  });
  $('a.toggle-japan').on('click', function(e) {
    e.preventDefault();
    $('.japan').toggleClass("collapse");
  });
  $('a.toggle-ruby').on('click', function(e) {
    e.preventDefault();
    $('.japan').toggleClass("hideruby");
  });

  $('li').add('h1').add('h2').add('p').add('td').each(function() {
    $(this).html(japanruby($(this).html()));
  });

  {% if page.lesson %}
    openTab("l{{page.lesson}}");
  {% else %}
  openTab("l0");
  {% endif %}
});
</script>

<!--translation function-->
<script>
$(document).ready(function() {
  $('.lesson>:not(.japan) li').each(function() {
    var jp = $(this).closest('.lesson').find('.japan');
    var listno = $(this).parentsUntil('.lesson').last().index();
    var itemno = $(this).index();
    var citem = jp.children().eq(listno);
    if (citem.prop('tagName').toLowerCase() != 'ul') citem = citem.find('ul');
    citem = citem.children().eq(itemno);
    if (citem.length == 0) console.log($(this).text() + " not found.");

    var t = citem.contents().clone();
    t = t.unwrap().wrap('<div class="japan translation"/>').parent();
    t.find('rt').remove();

    var button = $('<button class="translate" />')
    button.on('click', function () {
      $(this).parent().find('div.input').toggleClass('active');
    });
    var inputdiv = $('<div class="input" />')
    var input = $('<input type="textbox" class="translate" />')
    var inputbutton = $('<button class="translate" />')
    inputbutton.on('click', function () {
      $(this).parent().parent().find('.japan.translation').toggleClass('active');
    });
    inputdiv.append(input);
    inputdiv.append(inputbutton);

    $(this).append(button);
    $(this).append(inputdiv);
    $(this).append(t);
  });
  $('li:contains("-")').hide();
});

</script>
<style>
div.input.active {
  display: block;
}
div.input {
  display: none;
}
div.input input {
  width: 95%;
}
div.translation.active {
  display: inherit;
}
div.translation {
  display: none;
}
button.translate {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 20px;
  width: 20px;
}
</style>

<!--scroll hide tag, get from: http://jsfiddle.net/mariusc23/s6mLJ/31/-->
<style>
.nav-up {
    top: -120px;
}
</style>

<script>
$(document).ready(function() {
  // Hide Header on on scroll down
  var didScroll;
  var lastScrollTop = 0;
  var delta = 5;
  var navbarHeight = $('.tags').outerHeight();

  $(window).scroll(function(event){
      didScroll = true;
  });

  setInterval(function() {
      if (didScroll) {
          hasScrolled();
          didScroll = false;
      }
  }, 250);

  function hasScrolled() {
      var st = $(this).scrollTop();
      
      // Make sure they scroll more than delta
      if(Math.abs(lastScrollTop - st) <= delta)
          return;
      
      // If they scrolled down and are past the navbar, add class .nav-up.
      // This is necessary so you never see what is "behind" the navbar.
      if (st > lastScrollTop && st > navbarHeight){
          // Scroll Down
          $('.tags').addClass('nav-up');
      } else {
          // Scroll Up
          if(st + $(window).height() < $(document).height()) {
              $('.tags').removeClass('nav-up');
          }
      }
      
      lastScrollTop = st;
  }});
</script>

{% if page.lessons %}
{% assign lessons = page.lessons %}
{% else %}
{% assign lessons = page.lesson | split: "|" %}
{% endif %}
{% capture allcontent %}
{% for lnum in lessons %}
{% assign id = lnum | prepend: 'l' %}
{% assign lesson = site.data.lessons[id] %}
{% include lesson.html num=lnum lesson=lesson %}
{% endfor %}
{% endcapture %}
{{ allcontent | markdownify}}
