<style>
.verb1 { background-color: #B5F4FE; }
.verb2 { background-color: #69D2E7; }
.verb2-1 { background-color: #69D2E7; }
.verb2-2 { background-color: #52B2E2; }
.verb3 { background-color: #00BCD1; }
.spcell { font-weight: bold; }
.althead { background-color: #C0D8D7; }
</style>

<script>
var wordhelper = new function() {
  var spverb = {};
  spverb["!来(き)ます"] = {
    jisyo: "!来(く)る",
    nai: "!来(こ)ない",
    isi: "!来(こ)よう",
    meirei: "!来(こ)い",
    ba: "!来(く)れば",
    kanou: "!来(こ)られる",
    kanoulian        : "!来(こ)られ",
    kanoumasu        : "!来(こ)られます",
    kanoumasen       : "!来(こ)られません",
    kanoumasita      : "!来(こ)られました",
    kanoumasendesita : "!来(こ)られませんでした",
    kanouta          : "!来(こ)られた",
    kanounai         : "!来(こ)られない",
    kanounakatta     : "!来(こ)られなかった",
    ukemi: "!来(こ)られる",
  };
  spverb["あります"] = { nai: "ない" };
  spverb["!行(い)きます"] = { te: "!行(い)って", ta: "!行(い)った" };
  var cte = {};
  var cnai = {};
  var cjisyo = {};
  var cmeirei = {};
  var cisi = {};
  var verb21tail = "き ぎ び み に ち り い し";
  cte["き"] = "いて";
  cte["ぎ"] = "いで";
  cte["び"] = "んで";
  cte["み"] = "んで";
  cte["に"] = "んで";
  cte["ち"] = "って";
  cte["り"] = "って";
  cte["い"] = "って";
  cte["し"] = "して";

  cnai["き"] = "か";
  cnai["ぎ"] = "が";
  cnai["び"] = "ば";
  cnai["み"] = "ま";
  cnai["に"] = "な";
  cnai["ち"] = "た";
  cnai["り"] = "ら";
  cnai["い"] = "わ";
  cnai["し"] = "さ";

  cjisyo["き"] = "く";
  cjisyo["ぎ"] = "ぐ";
  cjisyo["び"] = "ぶ";
  cjisyo["み"] = "む";
  cjisyo["に"] = "ぬ";
  cjisyo["ち"] = "つ";
  cjisyo["り"] = "る";
  cjisyo["い"] = "う";
  cjisyo["し"] = "す";

  cmeirei["く"] = "け";
  cmeirei["ぐ"] = "げ";
  cmeirei["ぶ"] = "べ";
  cmeirei["む"] = "め";
  cmeirei["ぬ"] = "ね";
  cmeirei["つ"] = "て";
  cmeirei["る"] = "れ";
  cmeirei["う"] = "え";
  cmeirei["す"] = "せ";

  cisi["く"] = "こう";
  cisi["ぐ"] = "ごう";
  cisi["ぶ"] = "ぼう";
  cisi["む"] = "もう";
  cisi["ぬ"] = "のう";
  cisi["つ"] = "とう";
  cisi["る"] = "ろう";
  cisi["う"] = "おう";
  cisi["す"] = "そう";

  function makeLink(url, title) {
    return "<a target='_blank' href='" + url + "'>" + title + "</a>";
  }

  function makeGooLink(query, title) {
    return makeLink("http://dictionary.goo.ne.jp/freewordsearcher.html?MT=" + query + "&mode=0&x=0&y=0&kind=jn", title);
  }

  function makeOjadLink(query, title) {
    return makeLink("http://www.gavo.t.u-tokyo.ac.jp/ojad/search/index/word:" + query, title);
  }

  function makeXdLink(query, title) {
    return makeLink("http://dict.hjenglish.com/jp/jc/" + query, title);
  }

  function purify(sen) {
    return sen.replace(/!(.*)\(.*\)/g, '$1')
  }

  function joincell(arr) {
    return arr.map(function(p) {return p && japanruby(p);}).join("<br />");
  }

  function parseverbdataline(od, idioms) {
    var obj = od;
    obj.pos = obj.pos.replace("动", "動");
    obj.lian = obj.masu.replace(/ます$/g, "");

    // masen // masita // masendesita
    obj.masen = obj.lian + "ません";
    obj.masita = obj.lian + "ました";
    obj.masendesita = obj.lian + "ませんでした";

    // te
    obj.te = obj.lian;
    if (obj.pos.endsWith('1')) {
      obj.te = obj.te.slice(0, -1) + cte[obj.te.slice(-1)];
    } else {
      obj.te += "て";
    }

    // ta
    obj.ta = obj.te;
    obj.ta = obj.ta.replace(/て$/g, 'た');
    obj.ta = obj.ta.replace(/で$/g, 'だ');

    // jisyo
    obj.jisyo = obj.lian;
    if (obj.pos.endsWith('2')) {
      obj.jisyo += "る";
    } else if (obj.pos.endsWith('3')) {
      obj.jisyo = obj.jisyo.slice(0, -1) + "する";
    } else {
      obj.jisyo = obj.jisyo.slice(0, -1) + cjisyo[obj.jisyo.slice(-1)];
    }

    // nai
    obj.nai = obj.lian;
    if (obj.pos.endsWith('1')) {
      obj.nai = obj.nai.slice(0, -1) + cnai[obj.nai.slice(-1)] + "ない";
    } else {
      obj.nai += "ない";
    }

    // nakatta
    obj.nakatta = obj.nai.slice(0, -1) + "かった";

    // meirei
    obj.meirei = obj.jisyo;
    if (obj.pos.endsWith('2')) {
      obj.meirei = obj.meirei.replace(/る$/g, 'ろ');
    } else if (obj.pos.endsWith('3')) {
      obj.meirei = obj.meirei.replace(/する$/g, 'しろ');
    } else {
      obj.meirei = obj.meirei.slice(0, -1) + cmeirei[obj.meirei.slice(-1)];
    }

    // isi
    obj.isi = obj.jisyo;
    if (obj.pos.endsWith('2')) {
      obj.isi = obj.isi.replace(/る$/g, 'よう');
    } else if (obj.pos.endsWith('3')) {
      obj.isi = obj.isi.replace(/する$/g, 'しよう');
    } else {
      obj.isi = obj.isi.slice(0, -1) + cisi[obj.isi.slice(-1)];
    }

    // ba
    obj.ba = obj.jisyo;
    if (obj.pos.endsWith('2')) {
      obj.ba = obj.ba.replace(/る$/g, 'れば');
    } else if (obj.pos.endsWith('3')) {
      obj.ba = obj.ba.replace(/する$/g, 'すれば');
    } else {
      obj.ba = obj.ba.slice(0, -1) + cmeirei[obj.ba.slice(-1)] + 'ば';
    }

    // kanou
    obj.kanou = obj.jisyo;
    if (obj.pos.endsWith('2')) {
      obj.kanou = obj.kanou.replace(/る$/g, 'られる');
    } else if (obj.pos.endsWith('3')) {
      obj.kanou = obj.kanou.replace(/する$/g, 'できる');
    } else {
      obj.kanou = obj.kanou.slice(0, -1) + cmeirei[obj.kanou.slice(-1)] + 'る';
    }

    obj.kanoulian = obj.kanou.slice(0, -1);
    obj.kanoumasu = obj.kanoulian + "ます";
    obj.kanoumasen = obj.kanoulian + "ません";
    obj.kanoumasita = obj.kanoulian + "ました";
    obj.kanoumasendesita = obj.kanoulian + "ませんでした";
    obj.kanouta = obj.kanoulian + "た";
    obj.kanounai = obj.kanoulian + "ない";
    obj.kanounakatta = obj.kanoulian + "なかった";

    // ukemi
    obj.ukemi = obj.nai;
    if (obj.pos.endsWith('2')) {
      obj.ukemi = obj.ukemi.replace(/ない$/g, 'られる');
    } else if (obj.pos.endsWith('3')) {
      obj.ukemi = obj.ukemi.replace(/する$/g, 'される');
    } else {
      obj.ukemi = obj.ukemi.replace(/ない$/g, 'れる');
    }

    obj.ukemilian = obj.ukemi.slice(0, -1);
    obj.ukemimasu = obj.ukemilian + "ます";
    obj.ukemimasen = obj.ukemilian + "ません";
    obj.ukemimasita = obj.ukemilian + "ました";
    obj.ukemimasendesita = obj.ukemilian + "ませんでした";
    //obj.ukemita = obj.ukemilian + "た";
    //obj.ukeminai = obj.ukemilian + "ない";
    //obj.ukeminakatta = obj.ukemilian + "なかった";

    // kanji
    obj.kanji = obj.jisyo.replace(/[!()\u3040-\u309f\u30a0-\u30ff]/g, "");

    // special transformation
    if (spverb[obj.masu]) {
      for (p in spverb[obj.masu]) {
        obj[p] = spverb[obj.masu][p];
        obj["sp" + p] = true;
      }
    }

    // goo link
    obj.goolink = makeGooLink(purify(obj.jisyo), "goo");
    // ojad link
    obj.ojadlink = makeOjadLink(purify(obj.jisyo), "OJAD");
    // xd link
    obj.xdlink = makeXdLink(purify(obj.jisyo), "小D");

    // compact cells
    obj.respect = joincell( [ obj.masu, obj.masen, obj.masita, obj.masendesita ] );
    obj.simple = joincell( [ obj.jisyo, obj.nai, obj.ta, obj.nakatta ] );
    obj.kanourespect = joincell( [ obj.kanoumasu, obj.kanoumasen, obj.kanoumasita, obj.kanoumasendesita ] );
    obj.kanousimple = joincell( [ obj.kanou, obj.kanounai, obj.kanouta, obj.kanounakatta ] );
    obj.other = joincell( [ obj.te, obj.meirei, obj.isi, obj.ba ] );
    var links = obj.goolink + "|" + obj.ojadlink + "|" + obj.xdlink;
    obj.desclinks = joincell( [ obj.desc, links ] );

    // pronounce
    obj.pronounce = obj.jisyo.replace(/[^\u3040-\u309f\u30a0-\u30ff]/g, "");

    // idioms
    var possiblelist =
      [ obj.masu, obj.masen, obj.masita, obj.masendesita,
        obj.jisyo, obj.nai, obj.ta, obj.nakatta,
        obj.te,
        obj.ba,
        obj.kanou, obj.kanounai, obj.kanouta, obj.kanounakatta,
        obj.kanoumasu, obj.kanoumasen, obj.kanoumasita, obj.kanoumasendesita,
        obj.ukemi, obj.ukemimasu, obj.ukemimasen, obj.ukemimasita, obj.ukemimasendesita,
      ]
      .map(function (p) { return purify(p); });
    obj.idiomlist = $.extend([], idioms);
    obj.idiomlist = obj.idiomlist
      .filter(function (idiom) {
        return possiblelist.some(function (p) { return idiom.indexOf(p) >= 0; });
      });
    obj.idioms = joincell(obj.idiomlist);
    // ignore special words to avoid confusion
    if (obj.masu == "あります" || obj.masu == "います" || obj.masu == "します") obj.idioms = "";

    // posclass
    if (obj.pos.endsWith('2')) {
      if (verb21tail.indexOf(obj.pronounce.slice(-2, -1)) >= 0) {
        obj.posclass = "verb2-1";
      }
      else {
        obj.posclass = "verb2-2";
      }
    } else if (obj.pos.endsWith('3')) {
      obj.posclass = "verb3";
    } else {
      obj.posclass = "verb1";
    }

    return obj;
  };
  this.parseverbdata = function (data) {
    var d = $.map(data.data, function (p) { return parseverbdataline(p, data.idiom); } );
    return d;
  };

  function parseAdjCommonDataLine(od, idioms) {
    var obj = od;

    // posclass
    if (obj.pos.endsWith('2')) {
      obj.posclass = "adj2";
    } else {
      obj.posclass = "adj1";
    }

    return obj;
  };

  function parseAdj1DataLine(od, idioms) {
    var obj = parseAdjCommonDataLine(od, idioms);

    obj.base = obj.word.slice(0, -1);
    obj.te = "";
    obj.ku = obj.base + "く";
    obj.katta = obj.base + "かった";
    obj.nai = obj.ku + "ない";
    obj.nakatta = obj.ku + "なかった";
    obj.kereba = obj.base + "ければ";

    return obj;
  };

  this.parseAdj1Data = function (data) {
    var d = $.map(data.data, function (p) { return parseAdj1DataLine(p, null); } );
    return d;
  };

  function parseAdj2DataLine(od, idioms) {
    var obj = parseAdjCommonDataLine(od, idioms);

    obj.na = obj.word + "な";
    obj.te = "";
    obj.ni = "";
    obj.datta = obj.word + "だった";
    obj.nai = obj.word + "ではない";
    obj.nakatta = obj.word + "ではなかった";
    obj.naraba = obj.word + "ならば";
    obj.deareba = obj.word + "であれば";
    obj.denakereba = obj.word + "でなければ";
    obj.da = obj.word + "だ";

    return obj;
  };

  this.parseAdj2Data = function (data) {
    var d = $.map(data.data, function (p) { return parseAdj2DataLine(p, null); } );
    return d;
  };

  function createCell(klass, content) {
    return $('<td />', { class: klass }).html(content);
  };

  function addCellsToRow(columns, row, data) {
    $.each(columns, function(j, name) {
      row.append(createCell(data.posclass + (data["sp" + name] ? " spcell" : ""), data[name]));
    });
  };

  this.initgrouptable = function (data, table, groupby, tableRow, filter) {
    var groups = {};
    $.each(data, function (i, a) { if (a[groupby] in groups) groups[a[groupby]].push(a); else groups[a[groupby]] = [a]; } );
    table.children('tbody').remove();
    var count = 0;
    $.each(groups, function(i, group) {
      if (filter != undefined && !filter(group)) return;
      var row = $('<tr />');
      var headcell = $('<td rowspan="' + group.length + '">' + group[0][groupby] + '</td>');
      if (count++ % 2 == 0) headcell = headcell.addClass('althead');
      row.append(headcell);
      $.each(group, function(i, item) {
        addCellsToRow(tableRow, row, item);
        table.append(row);
        row = $('<tr />');
        var emptycell = $('<td style="display: none" />');
        row.append(emptycell);
      });
    });
  };

  this.initTable = function (data, table, tableRow, filter) {
    table.children('tbody').remove();
    $.each(data, function(i, item) {
      var row = $('<tr />');
      addCellsToRow(tableRow, row, item);
      table.append(row);
    });
  };
};
</script>
