.japan, .japan a, :lang(jp)
  font-family "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif

.hidekanji
  ruby rt, ruby
    background-color black
    &:hover
      background-color inherit

.accent
  border-top #FF6633 1px solid
  padding 1px 0px 0px 0px

.japan.hideruby ruby rt
  color white
.japan.hideruby ruby rt:hover
  color inherit
