.list
  font-family sans-serif

td
  padding 10px
  border solid 1px #eee

input
  border solid 1px #ccc
  border-radius 5px
  padding 7px 14px
  margin-bottom 10px
  &:focus
    outline none
    border-color #aaa

.sort
  padding 8px 30px
  border-radius 6px
  border none
  display inline-block
  color #fff
  text-decoration none
  background-color #28a8e0
  height 30px
  &:hover
    text-decoration none
    background-color #1b8aba
  &:focus
    outline none
  &:after
    display inline-block
    width 0
    height 0
    border-left 5px solid transparent
    border-right 5px solid transparent
    border-bottom 5px solid transparent
    content ""
    position relative
    top -10px
    right -5px
  &.asc
    &:after
      width 0
      height 0
      border-left 5px solid transparent
      border-right 5px solid transparent
      border-top 5px solid #fff
      content ""
      position relative
      top 4px
      right -5px
  &.desc
    &:after
      width 0
      height 0
      border-left 5px solid transparent
      border-right 5px solid transparent
      border-bottom 5px solid #fff
      content ""
      position relative
      top -4px
      right -5px


