<!DOCTYPE html>
{% include base.html %}
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    {% include head.html %}
    <body>

        <div id="wrapper">
            <div class="overlay"></div>
        
            <!-- Sidebar -->
            {% include sidebar.html %}

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top bg-primary"></span>
                    <span class="hamb-middle bg-primary"></span>
                    <span class="hamb-bottom bg-primary"></span>
                </button>
                <a id="goback" href="javascript: history.go(-1)"><i class="fa fa-arrow-left fa-2x"></i></a>
                <div class="container">
                    {{ content }}
                    <hr />
                    {% include footer.html %}
                </div>
            </div>

        </div>
    </body>
</html>
