---
layout: post
---

<style>
.tags {
  position: fixed;
  top: 60px;
}
.tags a {
  background: white;
}
.tags a.toggle-lesson.active {
  background: wheat;
}
.lesson {
  display: none;
}
.lesson.active {
  display: inherit;
}
.japan.collapse {
  display: none;
}
.japan.hideruby ruby rt {
  color: white;
}
.japan.hideruby ruby rt:hover {
  color: inherit;
}
</style>
<div class="tags">
  {% for num in page.lessons %}
    <a class="toggle-lesson tl{{num}}" data-lesson="{{num}}" href="#">{{num}}</a>
  {% endfor %}
  <a class="toggle-ruby" href="#">注音</a>
  <a class="toggle-japan" href="#">原文</a>
  <audio id="player" controls>
  </audio>
</div>
<script>
$(document).ready(function() {
  function openTab(tabName) {
    $('.lesson').removeClass('active');
    $('.toggle-lesson').removeClass('active');
    $('.t'+tabName).addClass("active");
    $('#'+tabName).addClass("active");
    var player = $('#player').get(0);
    player.src = "{{ site.baseurl }}/assets/audio/lesson/" + tabName + ".mp3";
    player.load();
  }
  $('a.toggle-lesson').on('click', function(e) {
    e.preventDefault();
    openTab("l"+$(this).attr('data-lesson'));
  });
  $('a.toggle-japan').on('click', function(e) {
    e.preventDefault();
    $('.japan').toggleClass("collapse");
  });
  $('a.toggle-ruby').on('click', function(e) {
    e.preventDefault();
    $('.japan').toggleClass("hideruby");
  });

  $('li').add('h1').add('h2').add('p').each(function() {
    $(this).html(japanruby($(this).html()));
  });

  openTab("l0");
});
</script>

<script>
$(document).ready(function() {
  $('.lesson>:not(.japan) li').each(function() {
    var jp = $(this).closest('.lesson').find('.japan');
    var listno = $(this).parentsUntil('.lesson').last().index();
    var itemno = $(this).index();
    var citem = jp.children().eq(listno);
    if (citem.prop('tagName').toLowerCase() != 'ul') citem = citem.find('ul');
    citem = citem.children().eq(itemno);
    if (citem.length == 0) console.log($(this).text() + " not found.");

    var t = citem.contents().clone();
    t = t.unwrap().wrap('<div class="japan translation"/>').parent();
    t.find('rt').remove();

    var button = $('<button class="translate" />')
    button.on('click', function () {
      $(this).parent().find('div.input').toggleClass('active');
    });
    var inputdiv = $('<div class="input" />')
    var input = $('<input type="textbox" class="translate" />')
    var inputbutton = $('<button class="translate" />')
    inputbutton.on('click', function () {
      $(this).parent().parent().find('.japan.translation').toggleClass('active');
    });
    inputdiv.append(input);
    inputdiv.append(inputbutton);

    $(this).append(button);
    $(this).append(inputdiv);
    $(this).append(t);
  });
  $('li:contains("-")').hide();
});

</script>
<style>
div.input.active {
  display: block;
}
div.input {
  display: none;
}
div.input input {
  width: 95%;
}
div.translation.active {
  display: inherit;
}
div.translation {
  display: none;
}
button.translate {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 20px;
  width: 20px;
}
</style>

{% capture allcontent %}
<div id="l0" class="lesson" markdown="1">
**click lesson to open it**
</div>

{% for lnum in page.lessons %}
{% assign id = lnum | prepend: 'l' %}
{% assign lesson = site.data.lessons[id] %}
<div id="{{id}}" class="lesson" markdown="1">
<div class="japan" markdown="1">
# {{lesson.title}}
## 基本課文
{{lesson.basic4}}

{{lesson.basicc}}

## {{lesson.contitle}}

{{lesson.context}}
 
</div>
## 基本课文译文
{{lesson.basic4t}}

{{lesson.basicct}}


## 应用课文译文 {{lesson.contitlet}}

{{lesson.contextt}}
 
</div>
{% endfor %}
{% endcapture %}
{{ allcontent | markdownify}}
{{ content }}

<!--
```
'<,'>s/[　：，。 ]\zs\ze[^　：，。!]\{-}(/!/g
%s/<基本课文译文>/基本课文译文/g
%s/<应用课文译文>/应用课文译文 /g
'<,'>s/^* $/---/g
```
-->
